legacy is org/ code modern is src/ and include/
use a centralized testing framework
Keep functions short and focused. If a function does more than one thing, split it up. Aim for functions you can understand at a glance.
Use RAII religiously.
Avoid raw pointers for ownership.
perfer pass by const reference, Pass by rvalue reference (&&) 
Minimal nesting no more than 3 levels
functions shouldnt be longer than 50 lines (100 for special exceptions)
